<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lh.blog.system.mapper.SysRoleMapper" >
  <resultMap id="BaseResultMap" type="com.lh.blog.system.model.SysRole" >
    <!--
      WARNING - @frameworkgenerated
    -->
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="uid" property="uid" jdbcType="VARCHAR" />
    <result column="role_name" property="role_name" jdbcType="VARCHAR" />
    <result column="role_desc" property="role_desc" jdbcType="VARCHAR" />
  </resultMap>
  
  <select id="getAllRoles" resultMap="BaseResultMap">
    SELECT *
    FROM sys_role
  
  </select>
  
  <select id="getRoleByUid" parameterType="Map" resultMap="BaseResultMap">
    SELECT uid,role_name,role_desc
    FROM sys_role   
    WHERE uid=#{uid}
  </select>
  
  
  <select id="getRoleByName" parameterType="Map" resultMap="BaseResultMap">
    SELECT uid,role_name,role_desc
    FROM sys_role   
    WHERE role_name=#{role_name}
    <if test="uid != null and uid != ''">
    AND   uid !=#{uid}
    </if>
  </select>
  
  
</mapper>