<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lh.blog.search.mapper.GoodSellInfoMapper" >
  <resultMap id="BaseResultMap" type="com.lh.blog.search.model.GoodSellInfo" >
    <!--
      WARNING - @frameworkgenerated
    -->
    <id column="sellId" property="sellId" jdbcType="INTEGER" />
    <result column="goodName" property="goodName" jdbcType="VARCHAR" />
    <result column="goodPrice" property="goodPrice" jdbcType="DECIMAL" />
    <result column="sellAmount" property="sellAmount" jdbcType="INTEGER" />
    <result column="sellTotalPrice" property="sellTotalPrice" jdbcType="DECIMAL" />
    <result column="sellTime" property="sellTime" jdbcType="TIMESTAMP" />
  </resultMap>
  
  
  <select id="selectAllUsers" parameterType="Map" resultMap="BaseResultMap">
  
    SELECT *
	FROM goodsellinfo
	 
	
  </select>

  
</mapper>