<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lh.blog.search.mapper.GoodStockInfoMapper" >
  <resultMap id="BaseResultMap" type="com.lh.blog.search.model.GoodStockInfo" >
    <!--
      WARNING - @frameworkgenerated
    -->
    <id column="goodId" property="goodId" jdbcType="INTEGER" />
    <result column="goodStockAmount" property="goodStockAmount" jdbcType="INTEGER" />
    <result column="goodStockDuo" property="goodStockDuo" jdbcType="INTEGER" />
    <result column="goodStockShao" property="goodStockShao" jdbcType="INTEGER" />
    
    
  </resultMap>
  
  <select id="selectAllUsers" parameterType="Map" resultMap="BaseResultMap">
  
    SELECT *
	FROM goodstockinfo
	
	
  </select>

  
  
</mapper>